    html, body {
        padding: 0;
        margin: 0;
    }

    main {
        padding: 0;
        margin: 0;
    }

    .mainBox {
        font-family: 'Ubuntu', sans-serif;
        background-image: image-set("images/ralf.jpg");
        background-size: 50%;
        background-position: center;
        color: white;
        text-align: center;
        display: grid;
    }

    .centerBackground {
        margin: auto;
        width: 75%;
        padding: 10px;
        text-align: center;
        align-self: center;
    }

    .textBox {
        background-color: rgba(0,0,0,.5);
        width: 75%;
        height: 75%;
        text-align: center;
        align-self: center;
        margin: auto;
        font-size: 20px;
        padding: 5px;
        padding-left: 30px;
        padding-right: 30px;
        border: 500px;
        border-color: black;
        border-radius: 20px;
    }

    div.listBox {
        text-align: center;
    }

    ul.listOne{
        display: inline-block;
        text-align: left;
    }

    a:link {
        color: lightblue;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: violet;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: orange;
        background-color: transparent;
        text-decoration: underline;
    }

    a:active {
        color: orangered;
        background-color: transparent;
        text-decoration: underline;
    }

    .navbar {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding: 0;
        margin: 0;
    }

    .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar a:hover {
        background-color: red;
    }

    .logoimg {
        -webkit-filter: invert(1);
        filter: invert(1);
    }

    .searchBar {
        align-self: right;
        display: flex;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: black;

    }

    .navbar input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
      }

    @media screen and (max-width: 600px) {
        .navbar input[type=text] {
            float: right;
            padding: 6px;
            border: none;
            margin-top: 8px;
            margin-right: 16px;
            font-size: 17px;
            border-radius: 10px;
        }

        .navbar input[type=text] {
            border: 1px solid #ccc;
        }
    }

    .bgswitchbtn {
        background-color: transparent;
        color: white;
        font: inherit;
    }

    div.navcontent {
        width: fit-content;
        height: inherit;
        display: flex;
        flex-direction: row-reverse;
    }